// * カラー
$dark-white: #EFEFEF;
$white: #ffffff;
$light-grey: #f5f5f5;
$primary-dark: #113bc8;
$primary-color: #2196F3;
$primary-light: #64B5F6;
$secondary-dark: #4527A0;
$secondary-color: #651FFF;
$secondary-light: #9575CD;
$third-dark: #0097A7;
$third-color: #00BCD4;
$third-light: #80DEEA;
// ? テキスト
$text-main-color: #111111;
$text-sub-color: #666666;
// ? その他
$error-message-color: #f44336;
$modal-background: rgba(0, 0, 0, 0.637);

// * ユーザー画像
@mixin user-image {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  box-shadow: 0 0 0 3px #2196F3;
  -webkit-box-shadow: 0 0 0 3px #2196F3;
  -moz-box-shadow: 0 0 0 3px #2196F3;
  border-radius: 50%;
}

// * ボタン グラデーション
// ? 青(基本)
$gradation-blue-left: #1142e2;
$gradation-blue-right: #19bde6;
@mixin blue-btn {
  background: linear-gradient(60deg, $gradation-blue-left, $gradation-blue-right);
}
// ? 紫(サブ)
$gradation-purple-left: #673AB7;
$gradation-purple-right: #AB47BC;
@mixin purple-btn {
  background: linear-gradient(60deg, $gradation-purple-left, $gradation-purple-right);
}
// ? 赤(重要箇所)
$gradation-red-left: #D81B60;
$gradation-red-right: #EC407A;
@mixin red-btn {
  background: linear-gradient(60deg, $gradation-red-left, $gradation-red-right);
}
// ? 黒(終了)
$gradation-grey-left: #424242;
$gradation-grey-right: #9E9E9E;
@mixin grey-btn {
  background: linear-gradient(60deg, $gradation-grey-left, $gradation-grey-right);
}
// ? 赤 白余白
@mixin red-cancel-btn {
  border: solid 1px #D81B60;
  color: #D81B60;
  background-color: $white;
}
//? 青 白余白
@mixin blue-cancel-btn {
  border: solid 1px $primary-color;
  color: $primary-color;
}

// * 影
// ? 基本
$box-shadow-btn: rgba(0,0,0,0.26);
@mixin box-shadow-btn {
  box-shadow: 0px 5px 10px $box-shadow-btn;
}

// * ボーダー
// ? 基本
$card-border-color: #B9B9B9;
@mixin card-border-color {
  border: solid 1px $card-border-color;
}
// ? input
$input-border-color: #A3A1A1;
@mixin input-border-color {
  border: solid 1px $input-border-color;
}
// ? primary-color-border
$primary-border-color: #2196F3;
@mixin primary-border_color {
  border: solid 1px $primary-border-color;
}


// * ホバー
// ? フォーム
@mixin form-hover {
  @include primary-border_color;
  outline: none;
  box-shadow: 0 0 5px 1px #2195f348;
}
// ? ボタン
@mixin btn-hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.685);
}
// ? 赤ボタン 
@mixin red-btn-hover {
  @include red-btn;
  color: #F8FAFF;
  appearance: none;
  border: none;
  box-shadow: 0 5px 20px -3px #CD106E;
  transition: .3s;
}

// * skill-color 
//? language
$language-color: #3F51B5;
@mixin border_language {
  border: solid 1px $language-color;
}

// ? framework
$framework-color: #2196F3;
@mixin border_framework {
  border: solid 1px $primary-color;
}

// ? skill
$skill-color: #00BCD4;
@mixin border-skill {
  border: solid 1px $skill-color;
}


// * skill-detail
//? language 
@mixin detail-language {
  @include border_language;
  color: $language-color;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px / 5px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

// ? framework
@mixin detail-framework {
  @include border_framework;
  color: $framework-color;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px / 5px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

// ? skill
@mixin detail-skill {
  @include border-skill;
  color: $skill-color;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px / 5px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

// * card login / register...
@mixin card-margin {
  margin: 2rem auto 0 auto;
}